<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <title>404</title>
    </head>
    <body>
        <main>
            <center>
                <br>
                <big><strong><h1 style="font-size: 400%; line-height: 50%;">404 </h1></strong></big>
                <p>Error: page <b><%- link %></b> not found </p>
                <p>Knowing myself, I probably typoed you to the wrong page, or maybe the page moved. Whatever the case, click <a href="/">here</a> to return home.</p>
            </center>
        </main>
    </body>
</html>