html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: Times;
}

body a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

body a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
    max-width: 80%;
	font-size: 90%;
}

header {
    margin: auto;
    max-width: 95%;
    display: flex;
}

header h1,h2,h3 {
    display: inline-block;
    align-self: flex-end;
    padding-right: 1em;
}

header .sub {
    position: relative;
    align-self: flex-end;
    bottom: 0.25em;
}

@media (max-width: 600px) {
    header .main {
        float: none;
        width: 100%;
    }
    header h3 {
        position: relative;
        bottom: calc(3em - 4vh);
    }
    html {
        font-size: 1em;
    }
}
