<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="my kingdom of stupidity.">
    <link rel="stylesheet" type="text/css" href="/src/css/main.css">
    <title>pseudohenry</title>
</head>
<style>
    body {
        overflow: hidden;
    }
    .grow {
        font-size: 4em;
    }
    ::selection {
        background: transparent;
    }
</style>
<body>
    <main>
        <div id="centered" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; position: relative; right: 3em;">
            <p style="padding-right: 0.5vw;">welcome</p>
            <p style="padding-right: 0.5vw;"><br>to</p>
            <h1 class="grow" id="grow" style="opacity: 1;">pseudohenry</h1>
        </div>
        <div id="info" style="opacity: 0;">
            <center>
                <h2 style="line-height: 25%"><u>MY STUFF</u></h2>
                <p><a href="/blog/">blog:</a> repository for unstructured, stupid rants. </p>
                <p><a href="/base2">base<sub>2</sub>:</a> an entertaining (passion) project.</p>
                <p><a href="/misc/">misc:</a> random miscellaneous projects.</p>
                <p><a href="/about">about:</a> if, by any chance, you want to know more.</p>
            </center>
        </div>
    </main>
    <script>
        function refill() {
            var info = document.getElementById("info")
            var opacity = 0;
            var intID = setInterval(function() {
                if (opacity < 1) {
                    opacity += 0.025;
                    info.style.opacity = opacity*2;
                }
                else {
                    clearInterval(intID);
                }
            }, 50);
        }
        function Animate() {
            var ps = document.getElementById("grow");
            while (true) {
                var i=0.125, count=0, rot=0, c=0;
                var zs=100, ze=150;
                var max = 10;
                var c = (window.getComputedStyle(ps, null).getPropertyValue('font-size'));
                var iv = setInterval(function () {
                    c = String(parseInt(c) + i) + "vw";
                    console.log(c);
                    ps.style.fontSize = c;
                    if (count >= ze && parseInt(ps.style.fontSize) <= max) {
                        clearInterval(iv);
                        setTimeout(refill, 150);
                    }
                    if (count >= zs && count <= ze) {
                        i -= 0.135;
                        ps.style.transform = `rotate(${rot}deg)`;
                        rot += (360/Math.abs(ze-zs));
                    }
                    count += 1;
                }, 10);
                break;
            }
        }

        window.onload = (event) => {
            setTimeout(refill, 350);
            //document.getElementById("grow").style.fontSize = `${window.innerWidth/15}px`;
        };
    </script>
</body>
</html>
