@font-face {
    font-family: Courier;
    src: url(cour.ttf);
}

main {
    margin: auto;
    max-width: 60%;
}


body {
    font-family: Courier, monospace;
    padding-top: 0.75em;
    font-size: 90%;
}

header {
    margin:auto;
    max-width: 90%;
}