<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main.css">
    <title>Blog</title>
</head>
<body>
    <%- include(headers) %>
    <main>
    <h2 style="padding-bottom: 1em" class="tags">Categories: </h2>
    <div class="tags">
        <p>
        <p class="tags"><a href="/category">all</a></p>
        <% Object.keys(tags).forEach(function(tag) { %> 
            <p class="tags"><a href="/category#<%= tag %>"><%= tag %></a></p>
        <% }); %>
        </p>
    </div>
    <hr>
    <h2>Posts</h2>
    <% lists.forEach(function(post) { %> 
        <div class="display-post">
            <% if (post.attributes.date && post.attributes.title) { %>
                <p class="post-listing"><%= post.attributes.date %> <a style="position: relative; left: 0.5em" href=<%= post.attributes.link %>><%= post.attributes.title %></a></p>
                <% if (post.attributes.description) { %> 
                    <p class="desc"><%= post.attributes.description %></p>
                <% } %>
            <% } %>
        </div>
    <% }); %>
    </main>
</body>
</html>
