<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/blog.css">
    <title>blog</title>
</head>
<body>
    <%- include(headers) %>
    <main>
        <center>
        <h1 style="line-height: 0;">Posts</h1>
    <% lists.forEach(function(post) { %> 
        <div class="display-post">
            <% if (post.attributes.date && post.attributes.title) { %>
                <p><%= post.attributes.date %> <a href=<%= post.attributes.link %>><%= post.attributes.title %></a></p>
                <% if (post.attributes.description) { %> 
                    <p class="desc">[<%= post.attributes.description %>]</p>
                <% } %>
            <% } %>
        </div>
		<br/>
    <% }); %>
        </center>
    </main>
</body>
</html>
