<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/blog.css">
    <title>Blog</title>
</head>
<body>
    <%- include(headers) %>
    <main>
        <h2 style="line-height: 0;">Posts</h2>
		<br>
    <% lists.forEach(function(post) { %> 
        <div class="display-post">
            <% if (post.attributes.date && post.attributes.title) { %>
                <p><%= post.attributes.date %> <a style="position: relative; left: 0.5em" href=<%= post.attributes.link %>><%= post.attributes.title %></a></p>
                <% if (post.attributes.description) { %> 
                    <p class="desc"><%= post.attributes.description %></p>
                <% } %>
            <% } %>
        </div>
		<div style="line-height: 10%"><br></div>
    <% }); %>
    </main>
</body>
</html>
