<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main.css">
    <title>Categories</title>
</head>
<body>
    <%- include(headers) %>
    <main>
        <h1>Categories</h1>
        <p>Kind of a inefficient categorical sort, but: functionality, then efficiency. </p>
        <% Object.keys(tags).forEach(function(tag) { %> 
            <div class="sector" id=<%= tag %>> 
            <h2 style="margin: auto"><%= tag %></h2>
            <% tags[tag].forEach(function(posts) { %> 
                <p class="post-listing"><%= posts[2] %> <a style="position: relative; left: 0.5em" href=<%= posts[1] %>><%= posts[0] %></a></p>
            <% }); %>
            </div>
        <% }); %>
    </main>
    <script>
        var url, args, tags, count=0, l=[];
        url = document.URL;
        if (url.includes("#") && ((url.split("#")[1]).length >= 1)) {
            var i;
            args = url.split("#")[1];
            tags = document.getElementsByClassName("sector");
            for (i=0; i<tags.length; i++) {
                if (tags[i].id == args) {
                    count += 1;
                }
                else {
                    l.push(i);
                }
            }
            if (count > 0) {
                for (var k=0; k<l.length; k++) {
                    tags[l[k]].innerHTML = "";
                }
            }
        }
    </script>
</body>
</html>
