<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main.css">
    <title>Scientific Explorations</title>
</head>
<body>
    <%- include(headers) %>
    <main>
    <h2>Explorations? </h2>
    <p>My blog is a place for random and unfiltered thoughts and ideas, I thought I'd create a sub-site for more purposeful, and factual topics.</p>
    <% sci.forEach(function(post) { %> 
        <div class="sci-post">
            <% if (post.attributes.title) { %>
                <p class="sci-listing"><a href=<%= post.attributes.link %>><%= post.attributes.title %></a></p>
                <% if (post.attributes.description) { %> 
                    <p class="desc"><%= post.attributes.description %></p>
                <% } %>
            <% } %>
        </div>
    <% }); %>
    </main>
</body>
</html>
