<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<% if (post.attributes.description) { %>
			<meta description="<%= post.attributes.description %>">
		<% } %>
		<link rel="stylesheet" href="/src/css/main.css">
		<% if (post.attributes.title) { %> 
			<title><%= post.attributes.title %></title>
		<% } %>
		<% if (post.attributes.tex == true) { %> 
			<script src="/src/scripts/polyfill.min.js?features=es6"></script>
			<script type="text/x-mathjax-config">MathJax = { tex: { inlineMath: [['$', '$'], ['\(', '\)']] }, svg: { fontCache: 'global', };</script>
			<script type="text/javascript" src="/src/scripts/tex-svg.js"></script>
		<% } %>
    <% if (post.attributes.graph == true ) { %> 
			<script src="/src/scripts/chart.min.js"></script>
    <% } %>
		<% if (post.attributes.chart == true) { %> 
			<script src="/src/scripts/mermaid.min.js"></script>
      <script>
				mermaid.initialize({ startOnLoad: true });
			</script>
		<% } %>
	</head>
<body>
	<%- include(headers) %>
        <div class="data">
            <h1 style="line-height: 0"><%= post.attributes.title %></h1>
            <div class="metadata">
                <p id="date" class="metadata">[<%= post.attributes.date %>]</p>
                <% if ((count/200) < 1) { %>
                    <p id="count" class="metadata">[<%= (count*60/200).toFixed(1) %> second read][<%= count%> words]</p>
                <%} else { %>
                    <p id="count" class="metadata">[<%= (count/200).toFixed(1) %> minute read][<%= count%> words]</p>
                <% } %>
            </div>
        </div>
    <main>
        <%- body %>
    </main>
	<hr>
		<div class="tags">
			<p>
				<% if (post.attributes.tags) { %> 
					<h3 style="padding-bottom: 0.55em" class="tags">Tags: </h3>
					<% (post.attributes.tags.split(" ")).forEach(function(tag) { %> 
						<p class="tags"><a href="/category#<%= tag %>"><%= tag %></a></p>
					<% }); %>
				<% } %> 
			</p>
		</div>
		<div class="tags">
		<p>
			<h3 style="padding-bottom: 0.55em" class="tags">All Tags: </h3>
		<p class="tags"><a href="/category">all</a></p>
		<% Object.keys(tags).forEach(function(tag) { %> 
			<p class="tags"><a href="/category#<%= tag %>"><%= tag %></a></p>
		<% }); %>
		</p>
	</div>
	</body>
</html>
