<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/blog.css">
    <title><%= post.attributes.title %></title>
    <% if (post.attributes.description) { %>
    <meta description="<%= post.attributes.description %>">
    <% } %>
</head>
<body>
    <%- include(headers) %>
    <main>
        <div class="data">
            <h1 style="line-height: 0"><%= post.attributes.title %></h1>
            <div class="a-info">
                <p class="date">[<%= post.attributes.date %>]</p>
                <% if ((count/200) < 1) { %>
                    <p class="count">[<%= count*60/200 %> second read][<%= count%>]</p>
                <%} else { %>
                    <p class="count">[<%= count/200 %> minute read][<%= count%> words]</p>
                <% } %>
            </div>
        </div>
        <%- body %>
    </main>
</body>
</html>
